*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
 position: absolute;  
 left: 50%; 
 top: 50%;
 transform: translate(-50%,-50%);
}
.b1{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
}
.buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1px;
}
.r2{
    display: flex;
    justify-content: space-around;
    gap: 1px;
}
.r2 button{
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 0 0 0 0;
    outline: none;
    text-align: center;
    font-size: 20px;
    margin: 0;
    transition: 0.2s;
}

.r2 button:hover{
    background-color: antiquewhite;
}

.r2 button:active{
    background-color: rgb(163, 163, 208);
}